@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
  font-size: 20px;
  font-family: "Righteous", cursive;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-color: #CFFDE1;
  
}
h1 {
  margin-bottom: 30px;
  font-family: "Righteous", cursive;
  font-size: 40px;
}

.container {
  display: flex;
  width: 70vw;
  height: 80vh;
  background-color: #5F9DF7;
  border-radius: 50px;
}

.edits {
  display: flex;
  flex: auto;
  flex-direction: column;
  width: 50wv;
  height: 100%;
  background-color: #1746A2;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 50px 0 0 50px;
}

.color{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.size{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid-container {
  padding: 3%;
}
.grid {
  width: 45vw;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #967e76;
}

.rows {
  width: 100%;
  height: auto;
  flex: 1;
  display: flex;
}

.cols {
  width: 100%;
  height: 100%;
  flex: 1;
  user-select: none;
}

.active {
  background-color: #D7C0AE;
  color: white;
}

button {
  width: 50%;
  padding: 2%;
  border-radius: 10px;
}

input[type='color']{
  border-radius: 100px;
  border: none;
  width: 30px;
  -webkit-appearance: none;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
